html {
    width: 100%;
    height: 100%;
}
body {
    display: grid;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    background: linear-gradient(135deg, #0b033e, #02010d);
    color: white;
    font-family: Arial;
    transition: .5s;
}

.major {
    font-size: 40px;
}
.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
button {
    transition: .5s;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 10px 3px black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 28px;
}
button:hover {
    color: cyan;
    border-color: cyan;
}
.bar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
h1 {
    margin: 0;
    font-size: 100px;
    text-transform: uppercase;
    color: black;
    text-shadow: 3px 3px 2px cyan, -3px -3px 2px rgb(255, 0, 128);
}
.window {
    transition: .5s;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 5px;
}
.window:focus-within, .window:hover {
    border-color: cyan;
    color: cyan;
}
form {
    padding: 30px;
}
h2 {
    color: white;
}
label {
    color: white;
    position: relative;
    bottom: 30px;
    transition: inherit;
    display: block;
    text-align: left;
    font-size: larger;
}
input:focus-visible + label {
    color: cyan;
}
input:focus-visible + label, input:valid + label {
    text-align: left;
    transform: scale(.5);
    translate: -60px -15px;
}
input {
    transition: inherit;
    padding: 0;
    margin: 5px 0px;
    color: white;
    font-size: larger;
    background-color: transparent;
    border: none;
    border-bottom: 2px black solid;
}
input:focus-visible, input:hover {
    outline: none;
    border-bottom: 2px cyan solid;
}
button.submit {
    font-size: x-large;
}
form {
    text-align: center;
}
#help {
    padding: 30px;
    margin-bottom: 30px;
}
#help p {
    text-align: left;
    color: white;
}